<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>SlamBook</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="/assets/layout.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="scripts/jquery.nivo.slider.setup.js"></script>
<!--[if lt IE 8]>
<style type="text/css" media="screen">.nivo-controlNav a{float:left;}</style>
<![endif]-->
</head>
<body>

<!-- ####################################################################################################### -->

<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="featured_intro">
<div><center>
<%= link_to @datap.name,:controller => "statuses", 
            :action => "profile",
	     :id => @datap.id%><br></center> 
 
<p class="pro"><%= image_tag("mail.png", :alt => "") %><%= @datap.email %></p>
<p class="pro"><%= image_tag("phn.png", :alt => "") %><%= @datap.name %></p>
  </div></div>
  

 


  </div>

<!-- ####################################################################################################### 
<div class="wrapper col4">
  <div id="latest">
    <ul>
      <li>
        <h2>Indonectetus facilis leo nibh</h2>
        <p class="imgholder"><img src="images/demo/290x100.gif" alt="" /></p>
        <p>Nullamlacus dui ipsum conseqlo bo rttis non euisque morbipen asda pibulum orna. <a href="#">More &raquo;</a></p>
      </li>
      <li>
        <h2>Indonectetus facilis leo nibh</h2>
        <p class="imgholder"><img src="images/demo/290x100.gif" alt="" /></p>
        <p>Nullamlacus dui ipsum conseqlo bo rttis non euisque morbipen asda pibulum orna. <a href="#">More &raquo;</a></p>
      </li>
      <li class="last">
        <h2>Indonectetus facilis leo nibh</h2>
        <p class="imgholder"><img src="images/demo/290x100.gif" alt="" /></p>
        <p>Nullamlacus dui ipsum conseqlo bo rttis non euisque morbipen asda pibulum orna. <a href="#">More &raquo;</a></p>
      </li>
    </ul>
    <br class="clear" />
  </div>
</div>
 ####################################################################################################### -->

<!-- ####################################################################################################### -->
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - </p>
    <p class="fl_right">Template by </p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
