<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SlamBook</title>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="/assets/icon.ico" /> 
<script type="text/javascript" src="iepngfix_tilebg.js"></script> 
<script type="text/javascript" src="iepngfix.js"></script> 
</head>
<body>
<div id="logoWrap"><h1>SlamBook</h1></div>
 <div id="loginPanel">

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Send" %></div>
<% end %>
<div class="blank"></div>
<p><%= render "devise/shared/links" %></p>

 </div>

  <%= yield %>
</body>
</html>


