
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SlamBook</title>
<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="/assets/icon.ico" /> 
<script type="text/javascript" src="iepngfix_tilebg.js"></script> 
<script type="text/javascript" src="iepngfix.js"></script> 
</head>

<body>
<div id="logoWrap"><h1>SlamBook</h1></div>
 <div id="loginPanel">
  <h2>User Login</h2>
 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.email_field :email, autofocus: true, :placeholder => "Email id"%></div>
<div class="blank"></div>
  <div><%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="login"><%= f.submit "Sign in" %></div>
<% end %>
<p>Not yet a Member? <%= render "devise/shared/links" %></p>

 

 </div>
 </div>

  <%= yield %>
</body>
</html>













